ul {
    list-style: none;
}
.navegacao ul { 
    list-style:none; margin:0; padding:4px 
}
.navegacao ul li { 
    display:inline-block;
    
}
.navegacao ul li { 
    padding:4px; ; 
 }
.navegacao ul li a { 
    font-size: 0.85em; text-decoration: none; color: #fff;padding: 4px 20px 
}
.navegacao ul li a:hover { 
    background-color: #5eaddb; 
    border-radius: 5px;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1rem;
    
}
.corpoPrincipal{
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin:-1px auto 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1000px;
    padding: 20px;
}
.imgHeader{
    width:150px;
    height:100px;
    object-fit:cover;
    object-position:50% 50%;
    
}
.primeiroGrupo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}
.segundoGrupo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
}
.terceiroGrupo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}
.segundoGrupo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
}
.itensPrimeiroGrupoUm{
    width: 30%;
    height:100%;
    background-color: rgb(245,222,179);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
    align-items: center;
}
.itensPrimeiroGrupoDois{
    width: 30%;
    height:100%;
    background-color: rgb(245,222,179);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
    align-items: center;
}
.itensPrimeiroGrupoTres{
    width: 30%;
    height:100%;
    background-color: rgb(245,222,179);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
    align-items: center;
}
.itensSegundoGrupoUm{
    width: 40%;
    height: 400px;
    background-color: yellow;
}
.itensSegundoGrupoDois{
    width: 40%;
    height: 400px;
    background-color: tomato;
}
.itensTerceiroGrupoUm{
    width: 30%;
    height: 200px;
    background-color: rgb(255, 255, 255);
}
.itensTerceiroGrupoDois{
    width: 30%;
    height: 200px;
    background-color: rgb(255, 255, 255);
}
.itensTerceiroGrupoTres{
    width: 30%;
    height: 200px;
    background-color: rgb(255, 255, 255);
}
.baner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    height: 800px;
    background-image:radial-gradient( circle,#1779b3,#fff);
}
.textoBaner{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    gap: 100px;
    

}
#principalProduto{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    width: 100%;
}
